

{% block flashes %}
  {% for message in messages %}
    <div style="text-align:center" class="alert alert-{{ message.tags }}">
      <i class="fa
        {% if message.tags == 'danger' %}
          fa-exclamation-circle
        {% elif message.tags == 'warning' %}
          fa-exclamation-triangle
        {% elif message.tags == 'success' %}
          fa-check-circle
        {% elif message.tags == 'info' %}
          fa-info-circle
        {% endif %}"></i>
      {{ message }}
    </div>
  {% endfor %}
{% endblock %}